<p><%= @resource.email %>さん</p>

<p>パスワード変更手続きが行われました。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>覚えのない場合は無視してください。</p>
<p>上記リンクにアクセスして変更するまで、お明日ワードは変更されません。</p>
